/* Estilos del header */
.header {
    background-color: var(--color-primary);
    color: var(--color-text);
    text-align: center;
}

.logo-full-width {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    overflow: hidden; /* Evita desbordamientos */
}

.logo-full-width img {
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto */
    display: block; /* Elimina cualquier espacio extra debajo de la imagen */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: var(--max-width);
    margin: 0 auto; /* Centrado horizontal */
    padding: 20px 0;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1rem;
}

.header-content {
    padding: 20px 0;
}

.header-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 1.2rem;
    color: var(--color-secondary);
}
