          body, html {
            margin: 0;
            padding: 0;
            min-height: 100%;
          }



          #arena-effect-container {
            position: relative;
            width: 100%;
            min-height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            box-sizing: border-box;
        }

        #text-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            color: transparent;
            white-space: nowrap;
            line-height: 1;
            max-width: 100%;
            flex-wrap: nowrap;
            font-family: 'Wordwalker';
        }

        .letter-container {
            position: relative;
            width: 1em; /* Todas las letras tienen el mismo ancho */
            height: 1em;
            margin-right: 0.05em; /* Espacio uniforme entre letras */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .space-container {
            width: 0.5em; /* Espacio para el carácter de espacio */
        }

        .letter {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%; /* Ocupa todo el ancho del contenedor */
            height: 100%;
            color: #0e0eec;
            opacity: 0;
            animation: formLetter 0.5s forwards;
            animation-delay: var(--letter-delay);
            text-align: center; /* Centra la letra dentro del contenedor */
        }

        .particle {
            position: absolute;
            width: 0.15em;
            height: 0.15em;
            background-color: #0e0eec;
            border-radius: 50%;
            opacity: 0;
            animation: moveParticle 1s ease-in-out forwards;
            animation-delay: var(--particle-delay);
        }

        @keyframes moveParticle {
            0% {
                transform: translate(var(--start-x), var(--start-y));
                opacity: 1;
            }
            50% {
                transform: translate(calc(var(--target-x) + var(--offset-x)), calc(var(--target-y) + var(--offset-y)));
                opacity: 1;
            }
            100% {
                transform: translate(var(--target-x), var(--target-y));
                opacity: 0;
            }
        }

        @keyframes formLetter {
            0% {
                opacity: 0;
                transform: scale(0.5);
            }
            100% {
                opacity: 1;
                transform: scale(1);
            }
        }

        /* Media queries para ajustar el tamaño de las letras según el ancho de la pantalla */
        @media (max-width: 600px) {
            /* Estilos para móviles */
            #text-container {
                font-size: 3rem; /* Tamaño de fuente para móviles */
            }
            .letter-container {
                margin-right: 0.03em; /* Espacio más pequeño entre letras en móviles */
            }
            .space-container {
                width: 0.4em; /* Espacio más pequeño para el carácter de espacio en móviles */
            }
        }

        @media (min-width: 601px) and (max-width: 1024px) {
            /* Estilos para tablets */
            #text-container {
                font-size: 4rem; /* Tamaño de fuente para tablets */
            }
            .letter-container {
                margin-right: 0.04em; /* Espacio entre letras para tablets */
            }
            .space-container {
                width: 0.5em; /* Espacio para el carácter de espacio en tablets */
            }
        }

        @media (min-width: 1025px) {
            /* Estilos para pantallas de escritorio */
            #text-container {
                font-size: 6rem; /* Tamaño de fuente para escritorio */
            }
            .letter-container {
                margin-right: 0.05em; /* Espacio entre letras para escritorio */
            }
            .space-container {
                width: 0.6em; /* Espacio para el carácter de espacio en escritorio */
            }
        }
