.header {
            width: 100%;
            height: 300px;
            background-image: url('https://i.postimg.cc/0ytDwssy/Sangre-Carbayona-C-D-Oviedo-Stadium-Ovetense.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            overflow: hidden;
            background-color: #f0f0f0;
        }
        
        .header img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }


